.dot-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  z-index: -1000;
  pointer-events: none;
}

.dot {
  position: absolute;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
  transform-origin: center;
  animation: float 20s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(30px, 40px) scale(1.1);
  }
  50% {
    transform: translate(10px, -30px) scale(0.9);
  }
  75% {
    transform: translate(-20px, 20px) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
